@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pri: #0A59A4; /* Primary color */
    --sec: #FFFFFF; /* secondary color */
    --font: 'Roboto Condensed', sans-serif; /* Main font */
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: -3.%;
    background-color: #0059A6;
    color: white;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 200;
}

nav li {
    font-family: 'Roboto Condensed', sans-serif;
}

.bar {
    background-color: var(--pri);
    display:flex;
    flex-direction: column;
    width: 320px;
    font-family: 'Roboto Condensed', sans-serif;
}

.GAI {
    font-family: 'Roboto Condensed', sans-serif;
    display:flex;
    flex-direction: column;
    width: 188px;
}

.bar h3 {
    color: var(--sec);
}

#occu{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    color: var(--sec);
}